header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header_container img {
  width: 110px;
  height: 16px;
  margin: 15px;
}


.header_container {
  display: flex;
  justify-content: space-between;
}

#nav-open {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #c32d4d;
  border-radius: 0 0 0 10px;
  z-index: 999;
  cursor: pointer;
}

#nav-open span {
  position: relative;
  top: 15px;
  right: 10px;
}


/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  transition: all 0.3s;
  height: 2px;
  /*線の太さ*/
  width: 28px;
  /*長さ*/
  border-radius: 0.3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
  z-index: 99;
  /*最前面*/
}

#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}


/*中身*/
#nav-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  /* left: 0; */
}

#nav-content.open {
  /* display: block; */
  /* opacity: 1; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: fixed;
  /* top: 0;
  left: 0; */
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #C32D4D;
  /*背景色*/
  /* overflow: hidden;ブラー効果でボヤけた部分を非表示 */

}




/*チェックが入ったら表示する内容*/

.category {
  text-align: center;
}

.category-title {
  list-style: none;
  font-size: 24px;
  line-height: 2.4;
}

.category-title a {
  color: white;
  text-decoration: none;
}

/*三本線を動かす*/
#nav-open.active span {
  -webkit-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}

#nav-open.active span:before {
  -webkit-transform: translateY(-8px) rotate(45deg);
  /*打ち消す*/
  transform: translateY(-8px) rotate(45deg);
  /*打ち消す*/
  opacity: 0;
}

#nav-open.active span:after {
  -webkit-transform: translateY(-16px) rotate(45deg);
  transform: translateY(-16px) rotate(90deg);
}

/* ハンバーガーメニューで現在いるページの色を変える  */
#nav-content .active{
  color: #EF90A4;
}