.top_img {
  background-image: url(../img/bg-header_sp.jpg);
  background-size: cover;
  height: 360px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    opacity: 0;
    font-size: 48px;
    color: #C32D4D;
    text-shadow: 0 3px 6px rgba(195, 45, 77, 0.2);
    margin-bottom: 4px;
    line-height: 1.3;
    animation: fadeIn 1.5s ease-in-out 0.5s 1 normal forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.container {
  margin: 40px 20px;
  line-height: 1.8;
}

.middle_nav {
  margin: 22px 0 32px;
}

.middle_nav a {
  letter-spacing: 0.01;
  margin-right: 20px;
  text-decoration: underline;
  color: #C32D4D;
}

#profile_img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: contain;
  float: left;
  margin: 0 10px 14px 0;
}

.profile p {
  font-size: 14px;
}

picture img{
  margin-top: 26px;
}