@charset "UTF-8";

/*--------------------------------
 CSSリセット
---------------------------------*/
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
}

/*--------------------------------
 全体
---------------------------------*/

body {
  font-family: "EB Garamond", "Noto Sans JP Regular", sans-serif;
  line-height: 1;
  color: #333;
}

a {
  text-decoration: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.container {
  margin: 0 20px;
}

.top_img {
  text-align: center;
}


